OPENAI_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
QDRANT_CLOUD_URL=https://.....cloud.qdrant.io
QDRANT_API_KEY=eyJhbGci
QDRANT_PATH=./qdrant_db
QDRANT_MODE=cloud
QDRANT_TIMEOUT= # optional
